{# Override the default admin template #}
{% extends "admin/change_form.html" %}
{% load i18n admin_urls %}
{% block title %}{% translate 'Create report' %} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block content_title %}
<h1>{% translate 'Create report' %}</h1>
{% endblock %}

{# This block is copied from the parent template but changed to have a different title. It's the easiest way to do it #}
{% if not is_popup %}
{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="{% url 'admin:index' %}">{% translate 'Home' %}</a>
    &rsaquo; <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ opts.app_config.verbose_name }}</a>
    &rsaquo;
    {% if has_view_permission %}
    <a href="{% url opts|admin_urlname:'changelist' %}">{{opts.verbose_name_plural|capfirst }}</a>
    {% else %}
    {{ opts.verbose_name_plural|capfirst }}
    {% endif %}
    &rsaquo;
    {% if add %}
    {% translate 'Create report' %}
    {% else%}
    {{ original|truncatewords:"18" }}
    {% endif %}
</div>
{% endblock %}
{% endif %}

{% block submit_buttons_bottom %}
{% if no_entries %}
{% translate 'A report can not be created since there are no journal entries' %}
{% elif not entries.exists %}
{% translate 'A report can not be created since there are no new journal entries since the latest report' %}
{% else %}
{% translate 'The new report will include all journal entries between the following times' %}
<p>{{ first|date:"j F Y H:i" }} - {{ last|date:"j F Y H:i" }}</p>
<input type="submit" value="Skapa">
{% endif %}
{% endblock %}
