{# Override the default admin template #}
{% extends "admin/change_form.html" %}
{% load i18n %}
{% block content %}
{{ block.super }}
<table>
    <thead>
        <th>{% translate 'Group' %}</th>
        <th>{% translate 'Total kilometers' %}</th>
        <th>{% translate 'Total mil' %}</th>
        <th>{% translate 'Total cost' %}</th>
    </thead>
    <tbody>
        {% for statistic in statistics_for_groups %}
        <tr>
            <td>{{ statistic.group }}</td>
            <td>{{ statistic.kilometers }}</td>
            <td>{{ statistic.mil }}</td>
            <td>{{ statistic.cost }}</td>
        </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <td>{% translate 'Total' %}</td>
            <td>{{ original.get_total_kilometers }}</td>
            <td></td>
            <td></td>
        </tr>
    </tfoot>
</table>
<p class="small">{% translate 'Groups that are not displayed above have not driven bocken during this time period' %}
</p>
{% endblock %}
