{# Override the default admin template #}
{% extends "admin/change_form.html" %}
{% load i18n humanize %}
{% block content %}
{{ block.super }}
<table>
    <thead>
        <th>{% translate 'Group' %}</th>
        <th>{% translate 'Total kilometers (km)' %}</th>
        <th>{% translate 'Total mil' %}</th>
        <th>{% translate 'Total cost (kr)' %}</th>
    </thead>
    <tbody>
        {% for statistic in statistics_for_groups %}
        <tr>
            <td>{{ statistic.group }}</td>
            <td>{{ statistic.kilometers|intcomma }}</td>
            <td>{{ statistic.mil|intcomma }}</td>
            <td>{{ statistic.cost|intcomma }}</td>
        </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            {% with total_statistics=original.get_total_statistics %}
            <td>{% translate 'Total' %}</td>
            <td>{{ total_statistics.total_kilometers|intcomma }}</td>
            <td>{{ total_statistics.total_mil|intcomma }}</td>
            <td>{{ total_statistics.total_cost|intcomma }}</td>
            {% endwith %}
        </tr>
    </tfoot>
</table>
<p class="small">{% translate 'Groups that are not displayed above have not driven bocken during this time period' %}
</p>
{% endblock %}
