Django[argon2]==3.2.3

# Postgres
psycopg2==2.8.6

# Improved handling of environment variables
python-decouple==3.4

# Phone number validation and formatting
phonenumbers==8.12.22

# Personummer verification
personnummer==3.0.2

# Tailwind css
django-tailwind==2.0.1

# Adds handy filters to templates
django-widget-tweaks==1.4.8

# Font awesome version 5
django-fontawesome-5==1.0.18

# Adds handy math filters to templates
django-mathfilters==1.0.0

# Makes it easy to add object actions in the admin view.
# Object actions can be used when djangos admin actions aren't enough.
django-object-actions==3.0.2

# Add recapthca to forms
django-recaptcha==2.0.6

# Creating background tasks with cron
django-cron==0.5.1
