Django[argon2]==4.1

# Improved handling of environment variables
python-decouple==3.6

# Phone number validation and formatting
phonenumbers==8.12.54

# Personummer verification
personnummer==3.0.3

# Tailwind css
django-tailwind==3.4.0

# Adds handy filters to templates
django-widget-tweaks==1.4.12

# Font awesome version 5
django-fontawesome-5==1.0.18

# Adds handy math filters to templates
django-mathfilters==1.0.0

# Makes it easy to add object actions in the admin view.
# Object actions can be used when djangos admin actions aren't enough.
django-object-actions==4.0.0

# Add recapthca to forms
django-recaptcha==3.0.0

# Automatically remove files from filefield if the file is changed
django-cleanup==6.0.0

# Importing and exporting in django admin
django-import-export==2.8.0

# Dateutil for relativedelta function and more
python-dateutil==2.8.2
