{% extends 'base.html' %}
{% load i18n %}

{% block body %}
<h1 class="text-2xl text-center mb-4">{% translate 'The digital journal system for UTN:s car Bocken'%}</h1>
<b class="font-bold mb-2">
    Bocken can only be used by UTN, the sections at TekNat and UTN:s associated organisations!
</b>
<p>In order to drive bocken you need to sign an agreement. Follow these steps:</p>
<ol class="list-decimal list-inside pl-4">
    <li>Download this file</li>
    <li>Read through the agreement</li>
    <li>Fill in the form and sign it on this website</li>
    <li>
        Send the agreement along with a picture of your driving licens to
        <a href="{{ klubbmastare_email }}">{{ klubbmastare_email }}</a>
    </li>
</ol>
{% endblock %}
