{% extends 'base.html' %}
{% load i18n static fontawesome_5 %}

{% block body %}
<h1 class="text-2xl text-center mb-4">{% translate 'The digital journal system for UTN:s car Bocken'%}</h1>
<b class="font-bold mb-2">
    {% translate 'Bocken can only be used by UTN, the sections at TekNat and UTN:s associated organisations!' %}
</b>
<p>{% translate 'In order to drive Bocken you need to sign an agreement. Follow these steps:' %}</p>
<ol class="list-decimal list-inside pl-4">
    <li>
        {% translate 'Download' %}
        <a class="underline text-blue-700" href="{% static 'bockenavtal.pdf' %}">
            {% translate 'the agreement' %}
        </a>
    </li>
    <li>{% translate 'Read through the agreement' %}</li>
    <li>
        {% translate 'Fill in the form and sign it. You can do this digitally on' %}
        <a
            class="underline text-blue-700"
            target="_blank"
            href="https://www.sejda.com/sign-pdf"
        >www.sejda.com/sign-pdf.</a>
        <span class="text-gray-400">{% fa5_icon 'external-link-alt' %}</span>
        {% translate 'Press on DONE and then on download when you have signed it to download it.' %}
    </li>
    <li>
        {% translate 'Send the agreement along with a picture of your driving licens to' %}
        <a class="underline text-blue-700" href="{{ klubbmastare_email }}">{{ klubbmastare_email }}</a>
    </li>
</ol>
{% endblock %}
