{% extends 'base.html' %}
{% load i18n static widget_tweaks fontawesome_5 %}

{% block body %}
<h1 class="text-3xl text-center mb-4">{% translate 'The digital journal system for UTN:s car Bocken'%}</h1>
<b class="font-bold mb-2 text-sm">
    {% translate 'Bocken can only be used by UTN, the sections at TekNat and UTN:s associated organisations!' %}
</b>

<h2 class="text-2xl mt-3 text-center">{% translate 'Sign an agreement' %}</h2>

<p>{% translate 'In order to drive Bocken you need to sign an agreement. Follow these steps:' %}</p>
<ol class="list-decimal list-inside pl-4">
    <li>
        {% translate 'Download' %}
        <a class="underline text-blue-700" href="{% static 'bockenavtal.pdf' %}">
            {% translate 'the agreement' %}
        </a>
    </li>
    <li>{% translate 'Read through the agreement' %}</li>
    <li>
        {% translate 'Fill in the form and sign it. You can do this digitally on' %}
        <a
            class="underline text-blue-700"
            target="_blank"
            href="https://www.sejda.com/sign-pdf"
        >www.sejda.com/sign-pdf.</a>
        <span class="text-gray-400">{% fa5_icon 'external-link-alt' %}</span>
    </li>
    <li>
        {% translate 'Download the signed agreement and send it along with a picture of your driving licens to' %}
        <a class="underline text-blue-700" href="mailto:{{ klubbmastare_email }}">{{ klubbmastare_email }}</a>
    </li>
</ol>

<hr class="mt-6 mb-4">

<h2 class="text-2xl text-center mb-4">
    {% translate 'Have you finished driving?' %}
</h2>
<a href={% url "add-entry" %} class="text-center underline text-blue-700">
    {% translate 'Fill in the journal here' %}
</a>

<hr class="mt-6 mb-4">

<h2 class="text-2xl text-center mb-4">
    {% translate 'When does my contract expire?' %}
</h2>

<p>Enter your personnummer to see when your agreement will expire</p>
<form method="post">
    {% csrf_token %}
    {% for field in form %}
        <div class="flex items-center relative font-thin font-sans text-gray-400 {% if field.errors %}border-red-600{% else %}border-gray-100{% endif %} border-solid border-2">
            <label for="{{ field.id_for_label }}" class="absolute flex justify-center items-center text-xl w-8 h-full">{% fa5_icon field.label %}</label>
            {{ field|add_class:"flex-1 flex justify-center font-extralight text-lg min-h-3 pl-8" }}
        </div>
        {% if field.errors %}
            {% for error in field.errors %}
                <p class="text-xs text-red-600">{{ error }}</p>
            {% endfor %}
        {% endif %}
        <p class="text-xs">{{ field.help_text }}</p>
    {% endfor %}

    <input value="Check" type="submit" class="block mx-auto mt-4 py-2 px-8 rounded text-white bg-blue-500">
</form>

{% endblock %}
