{% load i18n %}
<div class="flex flex-col {{ widget.attrs.class }}">
    <div class="p-4 text-black">
        <p class="text-xs font-normal mb-2">
            {% translate 'The groups have been split up into different main groups to make it easier to find your group. Choose the main group that your group belongs to and then your group.' %}
        </p>
        <select id="main-group" class="mb-2 border border-solid border-gray-200 p-2 w-full">
            <option value="" disabled selected>{% translate 'Choose a main group' %}</option>
            {% for key, group in groups.items %}
            <option value="{{ key }}">{{ group.verbose_name }}</option>
            {% endfor %}
        </select>

        <select
            name="{{ widget.name }}"
            id="{{ widget.attrs.id }}"
            {% if widget.attrs.required %}required{% endif %}
            class="border border-solid border-gray-200 p-2 w-full"
        >
            <option value="" disabled selected>{% translate 'Choose your group' %}</option>
        </select>
    </div>
</div>

<script>
    //Isolate the code using the javascript module pattern
    (function() {
        // The javascript version of all groups
        {% autoescape off %}
        const all_groups = {
            {% for key, main_group in groups.items %}
            '{{ key }}': {{ main_group }},
            {% endfor %}
        };
        {% endautoescape %}

        // When the main group is changed, only display the groups in that main group
        document.getElementById('main-group').addEventListener('change', function() {
            const selectedMainGroup = this.value;

            const groupSelect = document.getElementById('{{ widget.attrs.id }}');

            // Empty the current groups in the select tag
            groupSelect.innerHTML = "";

            // For each group in the selected main group,
            // only add the groups that belong to that main group
            const groupsInSelectedMainGroup = all_groups[selectedMainGroup].groups;
            for (let index in groupsInSelectedMainGroup) {
                const group = groupsInSelectedMainGroup[index];
                const parser = new DOMParser();
                const doc = parser.parseFromString(`<option value='${group[0]}'>${group[1]}</option>`, 'text/html');
                // DOMParser adds a body tag around the option tag. To get rid of it we
                // append the first child in the body tag a.k.a. the option tag
                groupSelect.append(doc.body.firstChild);
            }
        });
    })();
</script>
